.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### VS Code ###
.vscode/

### Generated sources ###
src/main/generated/

### Secrets & environment ###
.env
.env.*
!.env.example
**/resources/application-local.properties
**/resources/application-test.properties
**/resources/application-prod.properties

### WSL2 artifacts ###
*:Zone.Identifier
